<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Let's hopp!</title>
  </head>

  <body>

    <h1>Welcome to hopp...</h1>
    <p>Some awesome text goes here.</p>

    <%if @current_user.present? %>
      <p>Welcome, <%= @current_user.name %></p>
      <%= button_to 'Logout', logout_path, :method => :delete, :class => 'btn btn-warning' %>
      <%= button_to 'hopp', content_path(1), :method => :get, :class => 'btn btn-success btn-lg' %>
    <% else %>
      <%= link_to 'Sign Up', new_user_path, :class => 'btn btn-primary btn-lg' %>
      <%= button_to 'Login', user_login_path, :class => 'btn btn-success' %>
    <% end %>



  </body>

  <footer>
    <p>&copy; Nick Doherty, Matt Thees 2013</p>
  </footer>
  </html>