<%= form_tag '/interests', :method => :post do %>

<h1>What do you listen to?</h1>

<div data-role="fieldcontain">
  <fieldset data-role="controlgroup">
    <% @soundcloud_interests.order(:interest_name).each do |interest| %>
        <%= check_box_tag 'user[interest_ids][]', interest.id,
                          interest.id.in?(@current_user.interest_ids), :id => "sc_#{interest.id}" %>
        <label for="sc_<%= interest.id %>"><%= interest.interest_name %></label>
    <% end %>
  </fieldset>
</div>

<h1>What do you watch on YouTube?</h1>

<div data-role="fieldcontain">
  <fieldset data-role="controlgroup">
    <% @youtube_interests.order(:interest_name).each do |interest| %>
        <%= check_box_tag 'user[interest_ids][]', interest.id,
                          interest.id.in?(@current_user.interest_ids), :id => "yt_#{interest.id}" %>
        <label for="yt_<%= interest.id %>"><%= interest.interest_name %></label>
    <% end %>
   </fieldset>
</div>

<h1>What do you read on Medium</h1>
  <!-- add a link to medium so they can check out the pages? -->
<div data-role="fieldcontain">
  <fieldset data-role="controlgroup">
    <% @medium_interests.order(:interest_name).each do |interest| %>
        <%= check_box_tag 'user[interest_ids][]', interest.id,
                          interest.id.in?(@current_user.interest_ids), :id => "m_#{interest.id}" %>
        <label for="m_<%= interest.id %>"><%= interest.interest_name %></label>
    <% end %>
   </fieldset>
</div>

<%= button_to 'submit', "data-inline" => "true", "data-icon" => "check", "data-iconpos" => "top" %>

<% end %>