<!DOCTYPE html>
<html>
<head>
  <title>Let's hopp!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
  <link rel="stylesheet" type="text/css" href="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.min.css" />
  <link href='http://fonts.googleapis.com/css?family=Cabin:400,700|Oswald:400,700' rel='stylesheet' type='text/css'>
  <script src="/assets/js/libs/jquery.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>

  <script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.core.min.js"></script>
  <script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.mode.durationbox.min.js"></script>
  <script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/i18n/jquery.mobile.datebox.i18n.en_US.utf8.js"></script>
</head>
 <div class="container">
  <body>
    <div data-role="page" data-theme="b">
      <div data-role="header" class="nav-glyphish-example">
        <div data-role="navbar" class="nav-glyphish-example" data-grid="b">
          <ul>
            <%== authentication_menu %>
          </ul>
        </div>
      </div>
      <div data-role="content">
        <%= yield %>
      </div>
      <div data-role="footer" data-position="fixed">
        <p>&copy; Nick Doherty and Matt Thees, 2013</p>
      </div>
    </div>
  </body>
 </div> <!-- container -->
</html>